.delete-button{
    background: none;
    border: none;
    color: #303f9f;
}

select[multiple].productsInput{
    height: 200px; 
}

.add_product_modal{
    min-height: 220px;
    margin-top: 10px;
}

.lbl {
    background-color: rgb(189,189,189);
    padding: 4px 0px 4px 7px;
    margin: 0 5px 7px 0;
    display: inline-block;
    color: #FFF;
    font-weight: bold;
}

.lbl-remavable {
    position: relative;
}

.font-sm {
    font-size: 14px;
}

.lbl-minus{
    padding-left: 20px;
}

.lbl-button {
    top: 0;
    bottom: 0;
    right: 0;
    padding: 4px 6px;
    background-color: rgba(0,0,0,0.05);
    color: #FFF;
}

.lbl-button:hover {
    color: #FFF;
    background-color: rgba(0,0,0,0.2);
}



/*Planning*/
.planning-gray {
    background-color: #D8D8D8;
}

.planning-green {
    background-color: #C2D69B;
}
.planning-green:hover {
  background-color: #d0e9c6 !important;
}

.planning-yellow {
    background-color: #FDFFA3;
}
.planning-yellow:hover {
  background-color: #faf2cc !important;
}

.planning-blue {
  background-color: #C6D9F1;
}
.planning-blue:hover {
  background-color: #c4e3f3 !important;
}

/*Archives*/
.margin5{
    margin-right: 5px;
}

.archive-buttons{
    padding-bottom: 50px;
}
